<aside class="menu-area">
    <nav class="menu">
        <a href="/">                    
            Dashboard
        </a>
        <div class="dropdown">
            <a class="drop">Empresa +</a>
            <div class="dropdown-content">
              <a href="/empresas/nova">Cadastrar</a>
              <a href="/empresas">Listar</a>              
            </div>
        </div>
                
        <a href="#">            
            Estoque
        </a>
        <a href="#">            
            Sair
        </a>
        
    </nav>
</aside>
