


<div class='content container-fluid'>
    
    <div class="row">
        <div class="col-sm-3">
            <div class="card bg-primary">
              <div class="card-body">
                <h5 class="card-title"><strong>Posto Alamo</strong></h5>
                <hr>
                <table class="table">                   
                    <tbody>
                      <tr>
                        <th scope="row">Computadores</th>
                        <td>05</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Impressora Multifuncional</th>
                        <td>01</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Impressora Térmica</th>
                        <td>01</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Cameras</th>
                        <td>09</td>                        
                      </tr>
                    </tbody>
                  </table>                        
              </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-primary">
              <div class="card-body">
                <h5 class="card-title"><strong>Posto Expresso</strong></h5>
                <hr>
                <table class="table">                   
                    <tbody>
                      <tr>
                        <th scope="row">Computadores</th>
                        <td>05</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Impressora Multifuncional</th>
                        <td>01</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Impressora Térmica</th>
                        <td>01</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Cameras</th>
                        <td>09</td>                        
                      </tr>
                    </tbody>
                  </table>                        
              </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-info">
              <div class="card-body">
                <h5 class="card-title"><strong>Posto Cruzeiro</strong></h5>
                <hr>
                <table class="table">                   
                    <tbody>
                      <tr>
                        <th scope="row">Computadores</th>
                        <td>05</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Impressora Multifuncional</th>
                        <td>01</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Impressora Térmica</th>
                        <td>01</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Cameras</th>
                        <td>09</td>                        
                      </tr>
                    </tbody>
                  </table>                        
              </div>
            </div>
        </div>
       
    </div>
</div>


