<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>


<div class='content container-fluid'>
    
    <div class="row">
        <div class="col-sm-3">
          <div class="card bg-info">
            <div class="card-body">
              <h5 class="card-title"><strong>Posto Vila Amaral</strong></h5>
              <hr>
              <p class="card-text">Computadores - <strong>05</strong></p>
              <p class="card-text">Impressora Multifuncional - <strong>01</strong></p>
              <p class="card-text">Impressora Térmica - <strong>01</strong></p>
              <p class="card-text">Cameras - <strong>09</strong></p>              
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-info">
              <div class="card-body">
                <h5 class="card-title"><strong>Posto Vila Amaral</strong></h5>
                <hr>
                <p class="card-text">Computadores - <strong>05</strong></p>
                <p class="card-text">Impressora Multifuncional - <strong>01</strong></p>
                <p class="card-text">Impressora Térmica - <strong>01</strong></p>
                <p class="card-text">Cameras - <strong>09</strong></p>              
              </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-info">
              <div class="card-body">
                <h5 class="card-title"><strong>Posto Vila Amaral</strong></h5>
                <hr>
                <table class="table">                   
                    <tbody>
                      <tr>
                        <th scope="row">Computadores</th>
                        <td>05</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Impressora Multifuncional</th>
                        <td>01</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Impressora Térmica</th>
                        <td>01</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Cameras</th>
                        <td>09</td>                        
                      </tr>
                    </tbody>
                  </table>                        
              </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-primary">
              <div class="card-body">
                <h5 class="card-title"><strong>Posto Vila Amaral</strong></h5>
                <hr>
                <table class="table">                   
                    <tbody>
                      <tr>
                        <th scope="row">Computadores</th>
                        <td>05</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Impressora Multifuncional</th>
                        <td>01</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Impressora Térmica</th>
                        <td>01</td>                        
                      </tr>
                      <tr>
                        <th scope="row">Cameras</th>
                        <td>09</td>                        
                      </tr>
                    </tbody>
                  </table>                        
              </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
